<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Page Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <span>404</span>
            <h1>Página não encontrada</h1>
            <img src="images/karen-kujou/cat-ears.gif"/>
            <p role="alert">Eh.. Foi mal mas não consegui achar o que você queria.. owo</p>
            <p>
                <ul>
                    <li>Tente verificar a URL que você tava procurando</li>
                    <li>Se quiser pode dar uma olhadinha no <a>blog</a></li>
                    <li>Ou se quiser você pode voltar para a <a>página principal</a>! (voltar pra casa &#127968;) :D</li>
                    <li>Se você ta sentindo que algo ta faltando, <a>pode falar comigo!</a></li>
                </ul>
            </p>
            <p>Curiosidade: Você sabia que peixes não podem voar? &#128533; Pobres peixinhos... </p>
        </LayoutView>
    </NotFound>
</Router>
