@page "/"
@using Monambike.Core.Data;
<PageTitle>Links | Monambike</PageTitle>

<div class="page-container">
    <div class="page-container__foreground">
        <div class="content-container">
            <header class="profile">
                <img class="profile__picture" src="images/profile-picture.jpg" alt="Photo from Vinicius Gabriel." />
                <h1 class="profile__name">Vinícius Gabriel</h1>
                <h2 class="profile__username">@@monambike</h2>
                <p class="profile__bio">Hello :) I'm a Software Developer now willing to be a Game Designer and 3D model animator.</p>
                <span class="profile__link"><a href="@Emails.Contact.Link">@Emails.Contact</a></span>
                <span class="profile__link"><a href="@Links.Website.Url">@Links.Website.BaseUrl</a></span>
            </header>
            <section class="link-group">
                <h2 class="link-group__title">Links Gamers</h2>
                <ul class="card-container">
                    <li>
                        <a target="_blank" rel="nofollow" href="@Links.YouTubeMonambike">
                            <div class="card">
                                <img class="card__image" src="images/social/youtube.svg" alt="YouTube logo." />
                                <h3 class="card__title">Canal de Vídeos Editados</h3>
                                <div class="card__overlay">Go To Link</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" rel="nofollow" href="@Links.YouTubeMonambikeLive">
                            <div class="card">
                                <img class="card__image" src="images/social/youtube.svg" alt="YouTube logo." />
                                <h3 class="card__title">Canal de Lives e Shorts</h3>
                                <div class="card__overlay">Go To Link</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" rel="nofollow" href="@Links.InstagramMonambike">
                            <div class="card">
                                <img class="card__image" src="images/social/instagram.svg" alt="Instagram logo." />
                                <h3 class="card__title">Instagram (Main)</h3>
                                <div class="card__overlay">Go To Link</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" rel="nofollow" href="@Links.Steam">
                            <div class="card">
                                <img class="card__image" src="images/social/steam.svg" alt="Steam logo." />
                                <h3 class="card__title">Steam Profile</h3>
                                <div class="card__overlay">Go To Link</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" rel="nofollow" href="@Links.DiscordServer">
                            <div class="card">
                                <img class="card__image" src="images/social/discord.svg" alt="Discord logo." />
                                <h3 class="card__title">Discord Server</h3>
                                <div class="card__overlay">Go To Link</div>
                            </div>
                        </a>
                    </li>
                    @* <li><a target="_blank" rel="nofollow" href="@Links.Facebook">Conta da Facebook</a></li> *@
                </ul>
            </section>
            <section class="link-group">
                <h2 class="link-group__title">Links Profissionais</h2>
                <ul class="card-container">
                    <li>
                        <a target="_blank" rel="nofollow" href="@Links.LinkedIn">
                            <div class="card">
                                <img class="card__image" src="images/social/linkedin.svg" alt="LinkedIn logo." />
                                <h3 class="card__title">LinkedIn</h3>
                                <div class="card__overlay">Go To Link</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" rel="nofollow" href="@Links.GitHub">
                            <div class="card">
                                <img class="card__image" src="images/social/github.svg" alt="GitHub logo." />
                                <h3 class="card__title">GitHub</h3
                                <div class="card__overlay">Go To Link</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" rel="nofollow" href="@Links.InstagramMonambikePortfolio">
                            <div class="card">
                                <img class="card__image" src="images/social/instagram.svg" alt="Instagram logo." />
                                <h3 class="card__title">Instagram (Portfolio)</h3>
                                <div class="card__overlay">Go To Link</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" rel="nofollow" href="@Links.YouTubeMonambikePortfolio">
                            <div class="card">
                                <img class="card__image" src="images/social/youtube.svg" alt="YouTube logo." />
                                <h3 class="card__title">YouTube (Portfolio)</h3>
                                <div class="card__overlay">Go To Link</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" rel="nofollow" href="@Links.ItchIo">
                            <div class="card">
                                <img class="card__image" src="images/social/itch-io.svg" alt="Itch.Io logo." />
                                <h3 class="card__title">Itch.Io</h3>
                                <div class="card__overlay">Go To Link</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>
