@inherits LayoutComponentBase
@using Monambike.Core.Data;

<footer class="footer">
    <div class="footer--links">
        <div class="footer--links--three-columns">
            <div class="three-columns three-columns--extern-columns">
                <span><b>LINKS PROFISSIONAIS</b></span>
                <ul>
                    <li><a target="_blank" rel="nofollow" href="@Links.LinkedIn">Linkedin</a></li>
                    <li><a target="_blank" rel="nofollow" href="@Links.GitHub">GitHub</a></li>
                    <li><a target="_blank" rel="nofollow" href="@Links.InstagramMonambikePortfolio">Instagram (Portfolio)</a></li>
                    <li><a target="_blank" rel="nofollow" href="@Links.YouTubeMonambikePortfolio">Youtube (Portfolio)</a></li>
                    <li><a target="_blank" rel="nofollow" href="@Links.ItchIo">Itch.Io</a></li>
                </ul>
            </div>
            <div class="three-columns three-columns--intern-column">
                <span><b>ME ENCONTRE AQUI TAMBÉM</b></span>
                <ul>
                    <li><a target="_blank" rel="nofollow" href="@Links.YouTubeMonambike">YouTube (Principal)</a></li>
                    <li><a target="_blank" rel="nofollow" href="@Links.InstagramMonambike">Instagram (Principal)</a></li>
                    <li><a target="_blank" rel="nofollow" href="@Links.Steam">Steam</a></li>
                    <li><a target="_blank" rel="nofollow" href="@Links.Spotify">Meu Spotify</a></li>
                </ul>
            </div>
            <div class="three-columns three-columns--extern-columns">
                <span><b>PROJETOS EM DESTAQUE</b></span>
                <ul>
                    <li><a target="_blank" rel="nofollow" href="https://github.com/monambike/kwijisho-discord-bot">KWIJisho</a></li>
                    <li><a target="_blank" rel="nofollow" href="https://github.com/monambike/pdfconverter-pdftables-to-csv">PDFConverter</a></li>
                    <li><a target="_blank" rel="nofollow" href="https://github.com/monambike/diversao-inclusiva">Diversao Inclusiva</a></li>
                    <li><a target="_blank" rel="nofollow" href="https://github.com/monambike/project-hanabi-web">Project Hanabi</a></li>
                    <li><a target="_blank" rel="nofollow" href="https://github.com/monambike/doce-do-bom-mobile">Doce do Bom</a></li>
                    <li><a target="_blank" rel="nofollow" href="https://github.com/monambike/yotsuki-web">Yotsuki Web</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer--copyright-and-translate">
        <div class="footer--copyright-and-translate--copyright">
            <small>Copyright&nbsp;&copy;&nbsp;2024&nbsp;Vinícius&nbsp;Gabriel</small>
        </div>
        <TranslationButton/>
    </div>
</footer>
