@inherits LayoutComponentBase

<footer class="footer">
    <div class="footer--links">
        <div class="footer--links--three-columns">
            <div class="three-columns three-columns--extern-columns">
                <span><b>LINKS PROFISSIONAIS</b></span>
                <ul>
                    <li><a target="_blank" rel="nofollow" href="@Monambike.Data.Monambike.LinkedIn">Linkedin</a></li>
                    <li><a target="_blank" rel="nofollow" href="@Monambike.Data.Monambike.GitHub">GitHub</a></li>
                    <li><a target="_blank" rel="nofollow" href="@Monambike.Data.Monambike.InstagramMonambikePortfolio">Instagram (Portfolio)</a></li>
                    <li><a target="_blank" rel="nofollow" href="@Monambike.Data.Monambike.YouTubeMonambikePortfolio">Youtube (Portfolio)</a></li>
                    <li><a target="_blank" rel="nofollow" href="@Monambike.Data.Monambike.ItchIo">Itch.Io</a></li>
                </ul>
            </div>
            <div class="three-columns three-columns--intern-column">
                <span><b>ME ENCONTRE AQUI TAMBÉM</b></span>
                <ul>
                    <li><a target="_blank" rel="nofollow" href="@Monambike.Data.Monambike.YouTubeMonambike">YouTube (Principal)</a></li>
                    <li><a target="_blank" rel="nofollow" href="@Monambike.Data.Monambike.InstagramMonambike">Instagram (Principal)</a></li>
                    <li><a target="_blank" rel="nofollow" href="@Monambike.Data.Monambike.Steam">Steam</a></li>
                    <li><a target="_blank" rel="nofollow" href="@Monambike.Data.Monambike.Spotify">Meu Spotify</a></li>
                </ul>
            </div>
            <div class="three-columns three-columns--extern-columns">
                <span><b>PROJETOS EM DESTAQUE</b></span>
                <ul>
                    <li><a target="_blank" rel="nofollow" href="@GithubProjects.ProjectHanabi">Project Hanabi</a></li>
                    <li><a target="_blank" rel="nofollow" href="@GithubProjects.KWIJisho">KWIJisho</a></li>
                    <li><a target="_blank" rel="nofollow" href="@GithubProjects.YotsukiWeb">Yotsuki Web</a></li>
                    <li><a target="_blank" rel="nofollow" href="@GithubProjects.DoceDoBom">Doce do Bom</a></li>
                    <li><a target="_blank" rel="nofollow" href="@GithubProjects.DiversaoInclusiva">Diversao Inclusiva</a></li>
                    <li><a target="_blank" rel="nofollow" href="@GithubProjects.PDFConverter">PDFConverter</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer--copyright-and-translate">
        <div class="footer--copyright-and-translate--copyright">
            <small>Creative Commons (CC) - 2020-2023</small>
            <small>Site de apresentação pessoal</small>
        </div>
        <TranslationButton/>
    </div>
</footer>
