@page "/"
@using Monambike.Core.Data;
<PageTitle>Links | Monambike</PageTitle>

<div>
    <header class="acrylic shadow">
        <img class="profile-picture" src="images/profile-picture.jpg" alt="Photo from Vinicius Gabriel." />
        <h1>Vinícius Gabriel</h1>
        <span>Hello :) I'm a Software Developer now willing to be a Game Designer and 3D model animator.</span>
        <h2>@@monambike</h2>
    </header>
    <section class="acrylic shadow">
        <h3>Links Gamers</h3>
        <ul>
            <li>
                <a target="_blank" rel="nofollow" href="@Links.YouTubeMonambike">
                    <div class="container">
                        <img class="social-image" src="images/social/youtube.svg" alt="YouTube logo." />
                        <div class="text-container">
                            <span>Canal de Vídeos Editados</span>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a target="_blank" rel="nofollow" href="@Links.YouTubeMonambikeLive">
                    <div class="container">
                        <img class="social-image" src="images/social/youtube.svg" alt="YouTube logo." />
                        <div class="text-container">
                            <span>Canal de Lives e Shorts</span>
                        </div>
                    </div>
                 </a>
            </li>
            <li>
                <a target="_blank" rel="nofollow" href="@Links.InstagramMonambike">
                    <div class="container">
                        <img class="social-image" src="images/social/instagram.svg" alt="Instagram logo." />
                        <div class="text-container">
                            <span>Instagram Principal</span>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a target="_blank" rel="nofollow" href="@Links.Steam">
                    <div class="container">
                        <img class="social-image" src="images/social/steam.svg" alt="Steam logo." />
                        <div class="text-container">
                            <span>Conta da Steam</span>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a target="_blank" rel="nofollow" href="@Links.Steam">
                    <div class="container">
                        <img class="social-image" src="images/social/discord.svg" alt="Discord logo." />
                        <div class="text-container">
                            <span>Discord: @@monambike</span>
                        </div>
                    </div>
                  </a>
            </li>
            @* <li><a target="_blank" rel="nofollow" href="@Links.Facebook">Conta da Facebook</a></li> *@
        </ul>
    </section>
    <hr />
    <section class="acrylic shadow">
        <h3>Links Profissionais</h3>
        <ul>
            <li>
                <a target="_blank" rel="nofollow" href="@Links.LinkedIn">
                    <div class="container">
                        <img class="social-image" src="images/social/linkedin.svg" alt="LinkedIn logo." />
                        <div class="text-container">
                            <span>LinkedIn</span>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a target="_blank" rel="nofollow" href="@Links.GitHub">
                     <div class="container">
                        <img class="social-image" src="images/social/github.svg" alt="GitHub logo." />
                        <div class="text-container">
                            <span>GitHub</span>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a target="_blank" rel="nofollow" href="@Links.InstagramMonambikePortfolio">
                    <div class="container">
                        <img class="social-image" src="images/social/instagram.svg" alt="Instagram logo." />
                        <div class="text-container">
                            <span>Instagram (Portfolio)</span>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a target="_blank" rel="nofollow" href="@Links.YouTubeMonambikePortfolio">
                    <div class="container">
                        <img class="social-image" src="images/social/youtube.svg" alt="YouTube logo." />
                        <div class="text-container">
                            <span>YouTube (Portfolio)</span>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a target="_blank" rel="nofollow" href="@Links.ItchIo">
                    <div class="container">
                        <img class="social-image" src="images/social/itch-io.svg" alt="Itch.Io logo." />
                        <div class="text-container">
                            <span>Itch.Io</span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </section>
    <hr />
</div>
