@inherits LayoutComponentBase
@using Monambike.Web.Data;

<footer class="footer">
    <div class="footer--links">
        <div class="footer--links--three-columns">
            <div class="three-columns three-columns--extern-columns">
                <span><b>OUTROS</b></span>
                <ul>
                    <li><a target="_blank" rel="nofollow" href="@SocialMediaLinks.Instagram">Meus Desenhos e Fotos</a></li>
                    <li><a target="_blank" rel="nofollow" href="@SocialMediaLinks.Youtube">Meus Vídeos</a></li>
                    <li><a target="_blank" rel="nofollow" href="@SocialMediaLinks.TikTok">Meus Vídeos Curtos</a></li>
                    <li><a target="_blank" rel="nofollow" href="@SocialMediaLinks.Spotify">Músicas que eu Gosto</a></li>
                </ul>
            </div>
            <div class="three-columns three-columns--intern-column">
                <span><b>ME ENCONTRE TAMBÉM AQUI</b></span>
                <ul>
                    <li><a target="_blank" rel="nofollow" href="@SocialMediaLinks.Linkedin">Linkedin</a></li>
                    <li><a target="_blank" rel="nofollow" href="@SocialMediaLinks.Youtube">YouTube</a></li>
                    <li><a target="_blank" rel="nofollow" href="@SocialMediaLinks.Twitter">Twitter</a></li>
                    <li><a target="_blank" rel="nofollow" href="@SocialMediaLinks.Steam">Steam</a></li>
                    <li><a target="_blank" rel="nofollow" href="@SocialMediaLinks.Github">Github</a></li>
                </ul>
            </div>
            <div class="three-columns three-columns--extern-columns">
                <span><b>PROJETOS EM DESTAQUE</b></span>
                <ul>
                    <li><a target="_blank" rel="nofollow" href="@GithubProjects.ProjectHanabi">Project Hanabi</a></li>
                    <li><a target="_blank" rel="nofollow" href="@GithubProjects.KWIJisho">KWIJisho</a></li>
                    <li><a target="_blank" rel="nofollow" href="@GithubProjects.ComfyZone">ComfyZone</a></li>
                    <li><a target="_blank" rel="nofollow" href="@GithubProjects.Eletrolojinha">Eletrolojinha</a></li>
                    <li><a target="_blank" rel="nofollow" href="@GithubProjects.Restaurantinho">Restaurantinho LTDA.</a></li>
                    <li><a target="_blank" rel="nofollow" href="@GithubProjects.MeuPerfil">Meu Perfil</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer--copyright-and-translate">
        <div class="footer--copyright-and-translate--copyright">
            <small>Creative Commons (CC) - 2020-2023</small>
            <small>Site de apresentação pessoal</small>
        </div>
        <TranslationButton/>
    </div>
</footer>
